#create-employee {
  display: flex;
  flex-direction: column;
  /* width: 75%; */
  max-width: 500px;
  margin: 2rem auto;
  padding: 5%;
  border-radius: 0.5rem;
  box-shadow: rgba(154, 165, 149, 0.2) 0px 8px 24px;
  background-color: var(--lighter);
}

.create-employee-input, .create-employee-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  /* max-width: 212px; */
}

.create-employee-input input {
  border: none;
  line-height: 2rem;
}

.create-employee--ico {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

label {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.legend-personal,
.legend-adress,
.legend-hr {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--darker);
  /* position: relative;
  top: -0.6rem;
  left: 21rem; */
}

fieldset {
  border: none;
  background-color: #F3F8CF;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}