main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 45rem;
  background-color: pink;
}

fieldset {
  display: flex;
  width: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--middle);
}

#create-employee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 45rem;
  background-color: pink;
}