@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

/************ MINI RESET ************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

a {
  text-decoration: none;
}

/* MAIN COLORS */
:root {
  --lighter: #fafce9;
  --light: #f3f8cf;
  --middle: #D4E571;
  --dark: #708618;
  --darker: #414d1a;
  --cod-gray: #0a0a0a;
}

body {
  background: var(--light);
  font-family: 'Playfair Display', serif;
  color: var(--cod-gray);
}

#page-role {
  width: fit-content;
  margin: 2rem auto;
}

/* change the alternate colors for even and odd rows */
.tabulator .tabulator-row.tabulator-row-even {
  background-color: #f3f8cf !important;
  /* color: #fafce9; */
}

.tabulator .tabulator-row.tabulator-row-odd {
  background-color: #D4E571 !important;
}

/* .tabulator-row.tabulator-selected .tabulator-cell {
  background-color: rgba(247, 101, 213, 0.8) !important;
} */

/* .tabulator-row:hover {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(0, 119, 255) !important;
  font-weight: 900;
} */

.tabulator .tabulator-row.tabulator-selectable:hover .tabulator-cell {
  background-color: #708618 !important;
  color: #fafce9
}